.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
    color: orangered;
}

.pageNumber {
    padding: 10px;
}

.pageNumber:hover {
    font-weight: bold;
    cursor: pointer;
}

.pagination {

}