.header {
    grid-area: h;
    background-color: green;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header div img {
    width: 60px;
    height: auto;
    margin-left: 20px;
}