.header {
    grid-area: h;
    background-color: #ff6c03;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div img {
    width: 60px;
    height: auto;
    margin-left: 20px;
}

.loginContainer {
    float: right;
    margin-right: 20px;
}

.loginContainer a {
    color: white;
}