.avaDescriptionWrapper {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 500px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.avaDescriptionWrapper img {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

input[type='file'] {
    display: none;
}

.changeAva {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    left: 35px;
    background-color: #f9f9fa;
}

.changeAva:hover {
    cursor: pointer;
}

.fullName {
    font-style: italic;
    background-color: white;
    width: 100px;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.profileInfoBackground img{
    max-width: 1000px;
    height: 500px;
}

.profileStatusWrapper {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.profileStatusWrapper:hover {
    cursor: pointer;
}

.accountInfo {
    text-align: left;
}

.accountInfo b {
    font-weight: bold;
    font-style: italic;
}

.contactsInfoWrapper {
    padding-left: 10px;
    margin-bottom: 5px;
}

.contactsInfoWrapper:last-child {
    margin-bottom: 10px;
}

.lookingForAJob {
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}